.answer-index-container {
    .answer-count {
        color: #333;
        font-size: 18px;
        font-weight: 500;
    }

    .content-divider {
        width: 100%;
        height: 1px;
        background: #e2e2e2;
        margin: 7px 0px;
    }

    .answer-upvote {
        display: flex;
        justify-content: space-between;
        color: #329bff;
        font-size: 14px;
        font-weight: 500;
    }

    .svg-icon {
        .svg-base {
            stroke: #666;
            stroke-width: 1.5;
            stroke-linejoin: round;
            fill: none;
            fill-rule: evenodd;
        }

        .svg-stroke {
            stroke: #329bff;
        }

        .svg-fill {
            fill: #329bff;
        }
    }
}