.answer-index-container {

    .answer-upvote-icon {
        .svg-base {
            stroke: #666;
            stroke-width: 1.5;
            stroke-linejoin: round;
            fill: none;
            fill-rule: evenodd;
        }

        .svg-stroke {
            stroke: #329bff;
        }

        .svg-fill {
            fill: #329bff;
        }
    }
}