.main-page-container {
   
}

.main-page-content {
	// position: absolute;
	// top: 50px;
	// left: 0;
	// right: 0;
	// height: auto;
	// // background-color: beige;

	  width: 1002px;
    margin: 0 auto;
    padding-top: 83px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
}