.question-icon-right {
	position: absolute;
	bottom: 8px;
	right: 0;
	display: flex;

	div {
		padding: 5px;
		cursor: pointer;
	}
}

.modal-dropdown {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 50;
}

.question-edit-menu {
	position: relative;
    top: 40px;
    left: 150px;
    z-index: 60;
}

