.navbar-header{
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 50px;
  box-sizing: border-box;
  z-index: 800;
  font-size: 14px;
  color: #fff;
  /* border-top: 2px solid #b92b27; */
  border-bottom: 1px solid #ddd;
  box-shadow: 0 3px 2px -2px rgba(200,200,200,0.2);
  backface-visibility: hidden;
  display: flex;
  justify-content: space-around;
}




.navbar-header-inner{
    display: flex!important;
    flex-direction: row!important;
    box-sizing: border-box;
    position: relative;
    min-width: 750px;
    margin: 0 8px;
}

.navbar-header-logo{
  flex: none!important;
  z-index: 1;
  overflow: hidden;
}

.navbar-header-logo > a{
  display: block;
    width: 80px;
    min-width: 80px;
    height: 50px;
    background-size: 80px 23px;
    background-repeat: no-repeat;
    background-position: center center;
}

.navbar-header-logo > a > img{
  width: 100%;
  height:100%
}

.navbar-header-contents{
  width: 100%;
  box-sizing: border-box;
  flex: 1 1 auto!important;
  min-width: 0!important;
  min-height: 0!important;
  display: flex!important;
  margin-left: 8px!important;
}

.navbar-nav{
  float: none;
  display: table-cell;
  padding: 0 8px;
  position: relative;
  z-index: 1;
  display: table;
}

#nav-item-span{
  display: table-cell;
  white-space: nowrap;
  vertical-align: middle;
}

.header-nav-item{
  position: relative;
  float: left;
}

.header-nav-item:hover{
 background-color:#fafafa;
}

.nav-item-link{
    position: relative;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #666;
    line-height: 50px;
    padding: 0 14px;
    background-repeat: no-repeat;
    background-position: 10px center;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.red{
  border-color: #b92b27;
  color: #b92b27;
  opacity: 1;
}

.nav-item-link-inner{
  margin-right: 4px!important;
  display: inline-flex!important;
}

.nav-item-link-icon{
  display: inline-block;
  line-height: 0;
  vertical-align: text-bottom;
}

.nav-item-link-icon-svg-g{
  fill: #666;
}

.red-fill{
  fill: #b92b27;
}

.navbar-right-contents{
    float: none;
    display: flex!important;
    width: 100%;
    align-items: center!important;
}

.navbar-search-container{
  flex-grow: 1;
  padding: 10px 0 11px 14px;
  padding-left: 0;
  padding-right: 8px;
  padding-top: 12px;
}
    
.navbar-search{
  font-size: 13px;
  box-sizing: border-box;
  vertical-align: middle;
  position: static;
  width: 100%;
  display: block;
}
.navbar-search-input-container{
  position: relative;
  width: 100%;
}

.navbar-search-input{
  position: relative;
  width: 100%;
  z-index: 1;
   box-sizing: border-box;
    font-size: 15px;
    line-height: 1.4;
    display: block;
    padding: 3px 8px;
    max-height: 29px;
    min-height: auto;
    overflow-y: hidden;
    overflow-x: hidden;
    white-space: nowrap;
    height: inherit;
    transition: border-color,height,background-color .2s;
    outline: 0;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    padding-left: 26px;
    background: url(//qsf.fs.quoracdn.net/-3-images.new_grid.QuoraSearch.png-26-86c32b1ac26e4161.png) no-repeat 8px center;
    background-size: 13px;
    background-image: url(//qsf.fs.quoracdn.net/-3-images.new_grid.QuoraSearch_2x.png-26-c1b5774d1aad0f68.png);
}

.navbar-user-icon-container{
  height: 100%!important;
}

/* color for hover  #fafafa;*/

.profile-icon-wrapper{
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
  margin: 0;
  width: 26px;
  height: 26px;
}
   
.profile-photo-img{
  border-radius: 50%;
  display: inline-block;
  margin: 0;
  width: 26px;
  height: 26px;
}

.hidden{
  display: none;
}

#ask-question-modal-button{
  margin-left: 8px;
  min-width: 96px;
  white-space: nowrap;
  user-select: none;
  box-sizing: border-box;
  transition: opacity ease-in-out 100ms,color ease-in-out 100ms,background-color ease-in-out 100ms,border-color ease-in-out 100ms;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(200,200,200,0.2);
  display: inline-block;
  font-weight: 500;
  outline: 0;
  padding: 3px 7px 4px 7px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #b92b27;
  background: #b92b27;
  color: #fff;
}

.nav-profile-dropdown{
    animation: fadeInDownMini 200ms ease-out 0s 1 normal forwards;
    margin: 8px 0;
    min-width: 180px;
    z-index: 1600;
    position: absolute;
    top: 53px;
    color: #333;
    font-size: 13px;
    left: 50%;
    width: 260px;
    margin-left: -130px;
}

.nav-profile-dropdown::before{
  position: absolute;
  top: 0;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-color: rgba(204,204,204,0);
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  border-bottom: 7px solid #ccc;
  left: 14px;
  margin-top: -7px;
  margin-left: -7.5px;
  left: 50%;
}

.nav-profile-dropdown-contents{
  border-radius: 3px;
  background: #f7f7f7;
  border: 1px solid #ccc;
  box-shadow: 0 1px 3px rgba(200,200,200,0.7);
  padding: 0;
}

.nav-profile-dropdown-overflow{
  overflow-y: auto;
  max-height: calc(100vh - 61px)!important;
}

.nav-profile-dropdown-inner-style{
    display: flex!important;
    flex-direction: column!important;
    background-color: #fff!important;
}

.nav-profile-dropdown-header-container{
  top: 0!important;
  left: 0!important;
  width: 100%!important;
  z-index: 2!important;
  border-width: 1px;
  border-color: #e2e2e2;
  border-radius: 0;
  border-bottom-style: solid;
  background-color: #fff!important;
}

.nav-profile-dropdown-links-container{
  padding-top: 8px!important;
  padding-bottom: 8px!important;
  border-width: 1px;
  border-color: #e2e2e2;
  border-radius: 0;
  border-bottom-style: solid;
}

.nav-profile-dropdown-settings-links-container{
  border-width: 1px;
  border-color: #e2e2e2;
  border-radius: 0;
  border-bottom-style: solid;
}

.nav-profile-dropdown-official-links-container{
  flex: 1 1 auto!important;
  min-width: 0!important;
  min-height: 0!important;
  background-color: #fafafa!important;
}

.nav-profile-dropdown-header-icon-container{
    align-items: flex-start!important;
    display: flex!important;
    padding-top: 16px!important;
    padding-left: 16px!important;
    padding-right: 16px!important;
}

.dropdown-link-to-profile{
    display: block!important;
    margin-top: 4px!important;
    margin-bottom: 8px!important;
    padding-left: 16px!important;
    padding-right: 16px!important;
    padding-top: 8px!important;
    padding-bottom: 8px!important;
    color: #333!important;
    text-decoration: none!important;
    background-color: rgba(255,255,255,0.8);
    transition: background-color .1s ease-in-out 0s;
    
}


.dropdown-link-to-profile:hover{
  background-color: #fafafa;
}

.dropdown-icon-link-to-profile{
  position: relative!important;
  display: inline-flex!important;
}

.margin-left{
  margin-left: auto!important;
}

.dropdown-icon-content-container{
  display: inline-flex!important;
}

.dropdown-icon-content-wrapper{
  display: inline-flex!important;
  flex: none!important;
  position: relative;
}

.profile-photo-img-dropdown{
 border-radius: 50%;
 height: 48px;
 box-shadow: inset 0 1px 0 rgba(0,0,0,0.25), inset 0 -1px 0 rgba(0,0,0,0.25), inset 1px 0 0 rgba(0,0,0,0.25), inset -1px 0 0 rgba(0,0,0,0.25);
}

.dropdown-link-to-profile-flex-center{
  align-items: center!important;
  display: flex!important;
}

.dropdown-link-to-profile-username-container{
  flex: 1 1 auto!important;
  min-width: 0!important;
  min-height: 0!important;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 17px!important;
  font-weight: bold!important;
}

.dropdown-link-to-profile-arrow-container{
  margin-left: auto!important;
}

.dropdown-link-to-profile-arrow{
    display: inline-block;
    line-height: 0;
    vertical-align: text-bottom;
}

.nav-profile-dropdown-links-link, .nav-profile-dropdown-settings-link{
  padding-left: 16px!important;
  padding-right: 16px!important;
  padding-top: 8px!important;
  padding-bottom: 8px!important;
  display: flex!important;
  align-items: center!important;
  text-decoration: none!important;
  background-color: rgba(255,255,255,0.8);
  transition: background-color .1s ease-in-out 0s;
}

.nav-profile-dropdown-settings-link{
  padding-top: 6px!important;
  padding-bottom: 6px!important;
}

.nav-profile-dropdown-links-link:hover, .nav-profile-dropdown-settings-link:hover{
  background-color: #fafafa;
}

.nav-profile-dropdown-links-link-content{
  color: #333!important;
  font-size: 14px!important;
}

.nav-profile-dropdown-settings-link-content{
  color: #333!important;
  font-size: 14px!important;
}

.nav-profile-dropdown-official-links-wrapper{
  padding-left: 16px!important;
  padding-right: 16px!important;
  padding-top: 8px!important;
  padding-bottom: 8px!important;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 13px;
  line-height: 1.4;
}

.nav-profile-dropdown-official-links-link{
  color: #949494!important;
  text-decoration: none;
}

.bullet{
  color: #949494;
}