list-style-type: none;

.question-frame {
	position: relative;
	top: 50px;
	bottom: 1000px;
	display:block;
	margin: auto;

	.question-item {
		.question-left {
			.question-title {

			}

			.question-time {

			}

			.question-option {
				li {

				}
			}
		}

		.question-right {

			.question-hide {

			}

			.question-more {

			}
		}
	}
}