html {
	height: 100%;
    font-weight: 400;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 15px;
    line-height: 1.4;
}

body {
  text-align: left;
  direction: ltr;
  height: 100%;
  color: #333;
  font-size: 13px;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

a {
    text-decoration: none;
	background: transparent;
	cursor: pointer;
}

li {
	list-style-type: none;
}

ul span {
	padding: 0;
	margin: 0;
}

button, input, optgroup, select textarea {
    color: inherit;
    font: inherit;
    margin: 0;
    color: #333;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

*::-moz-focus-inner {
    outline: none;
    border: 0;
}